body
{
	display: block;
	background-color: lightblue;
}
u1.horizontal
{
	list-style: none;
	padding-left: 0;
}
u1.horizontal li 
{
	display: inline;
}
.button
{
	position: absolute;
	border: 1px solid #000000;
	width: 150px;
	height: 75px;
	right: 10px;
	top: 10px;
	
}
.button:hover {background-color: #32a6a8}
.button:active
{
	background-color: #32a6a8;
	transform: translate(0px,2px);
} 
.button2
{
	position: absolute;
	border: 1px solid #000000;
	width: 150px;
	height: 75px;
	right: 175px;
	top: 10px;
	
}
.button2:hover {background-color: #32a6a8}
.button2:active
{
	background-color: #32a6a8;
	transform: translate(0px,2px);
} 
h1
{
	color: black;
	margin-left: 0px;
	font-family: Monaco;
}