body
{
	display: block;
	background-color: lightblue;
}
.button
{
	position: absolute;
	border: 1px solid #000000;
	width: 150px;
	height: 75px;
	left: 10px;
	top: 75px;
	
}
button:hover {background-color: #32a6a8}
.button:active
{
	background-color: #32a6a8;
	transform: translate(0px,2px);
}