td {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 4rem;
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
body {
  background-color: blanchedalmond;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  flex-direction: column;
}

.container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap into new rows */
  width: 300px; /* Adjust based on your desired grid size */
}
.item {
  width: 33.33%; /* 100% / 3 items per row */
  height: 100px; /* Adjust height as needed */
  color: red;
  box-sizing: border-box;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.item img {
  max-width: 100%;
  max-height: 120%;
}
.item:hover {
  background-color: #e0e0e0;
}
